<div class="row">
  <div class="col-12">
    <label for="">Student Name</label>
    <input type="text"  #studentName>
    <br>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <label for="">Status: </label>
      <select #status>
        <option value="active">Active</option>
        <option value="inactive">In Active</option>
      </select>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-4">
      <button class="btn btn-primary" (click)="onAccountCreated(studentName.value,status.value)">
        Add New Student
      </button>
    </div>

  </div>
</div>
