
@model Demo1.ViewModel.CustomerBooks

<div class="row">
    <div class="col-4">
        <label> Book Title </label>
    </div>
    <div class="col-8">
        <label>@Model.book.Title</label>
    </div>
    <div class="col-4">
        <label> Customer Name</label>
    </div>
    <div class="col-8">
        <label>@Model.customer.Name</label>
    </div>


</div>

